c ------------------------ Projet Castor l2 info ------------------------
c Pierre BRUYERE
c Vinicius MATTEI
c Ismaila BALDE
c ------------------------ Projet Castor l2 info ------------------------
p cnf 1 0
